extends layout

block content
	h1= title
	p Welcome to #{title}
	p GitStatus is a Node.js application that builds widgets for Statusboard for iPad to show information about GitHub repos

	h2 Use GitStatus
	p Create a new widget
	<form method="post" action="create_widget">
	p <input type="text" name="user" placeholder="Cacauu" />
	p <input type="text" name="repo" placeholder="GitStatus-Node.js" />
	p <input type="text" name="token" placeholder="12345ABC" />
	p <select name="type"><option value="graph">Graph</option><option value="commits">Commit Table</option><option value="issues">Issue Table</option><option value="releases">Release Table</option></select>
	p <input type="submit" value="Create widget" />
	</form>