extends layout

block content
	if issues
		table
			for issue in issues
				tr
					td(style="width: 70%")= issue.title
					td(style="width: 5%") <img style="width: 100%; height: auto;" src="#{issue.user.avatar_url}" />
					td(style="width: 25%")= issue.user.login
	else
		p No Issues!